/* Общее */

body {
	background-color: #ffffff;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: #ffffff;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	clip-path: inset(100%);
}

.cross {
	position: absolute;
	top: 9px;
	right: 9px;
	width: 21px;
	height: 21px;
	border: none;
	background-color: transparent;
	background-image: url("../img/cross.svg");
}

.red-button {
	box-sizing: border-box;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 220px;
	min-height: 38px;
	border: none;
	border-radius: 3px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #ee3643;
}

.red-button:hover,
.red-button:focus {
	background-color: #ca2c37;
}

.red-button:active {
	background-color: #ba2732;
}

.main-header,
.main-footer,
.main-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	font-family: 'Cuprum', 'Tahoma', sans-serif;
	color: #ffffff;
}

/* Шапка главной */

.main-header {
	box-sizing: border-box;
	min-height: 320px;
	font-size: 17px;
	background-color: #f3f7f9;
}

/* Шапка главной - верх */

.header-top-wrapper {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 42px;
	margin: 0 auto;
	background-color: #293449;
}

.header-top {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	width: 960px;
	padding: 0 10px;
	line-height: 18px;
}

.main-logo-link {
	height: 38.5px;
}

.main-logo {
	box-sizing: border-box;
	width: 220px;
	height: 42px;	
	margin: 0px;
	margin-right: 10px;
	padding: 10px 55px 10px 55px;
	background-color: #ee3643;
	box-shadow: 0 5px 0 0 #b52933;
}

.main-logo:hover,
a:focus .main-logo	{
	background-color: #ca2c37;
}

a:active .main-logo {
	background-color: #ba2732;
}

.search-form {
	width: 280px;
}

.search-item {
	position: relative;
	width: 100%;
	margin: 0;
}

.search {
	box-sizing: border-box;
	width: 100%;
	min-height: 42px;
	padding: 0 38px;
	border: 0;
	background-color: #293449;
}

.search:hover,
.header-bookmarks:hover,
.header-cart:hover:not(.header-cart-full),
.search:focus,
.header-bookmarks:focus,
.header-cart:focus:not(.header-cart-full) {
	background-color: #212a3a;
}

.search:focus	{
	color: #000000;
	background-color: #ffffff;
}

.search::placeholder {
	color: #ffffff;
	opacity: 1;
}

.search-icon {
	position: absolute;
	top: 12px;
	left: 7px;
}

.search-icon path {
	fill: #c5c5c5;
	fill-opacity: 0.3;	
}

.search:hover + .search-icon path {
	fill: #ffffff;
	fill-opacity: 1;
}

.search:focus + .search-icon path {
	fill: #ee3643;
	fill-opacity: 1;
}

.header-bookmarks,
.header-cart {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 140px;
	min-height: 42px;
}

.header-bookmarks:active,
.header-cart:active:not(.header-cart-full) {
	color: #8c9095;
	background-color: #161d29;
}

.header-bookmarks path,
.header-cart svg {
	fill: #ffffff;
	fill-opacity: 0.3;
}

.header-bookmarks:hover path,
.header-cart:hover svg,
.header-bookmarks:focus path,
.header-cart:focus svg {
	fill: #ffffff;
	fill-opacity: 1;
}

.header-bookmarks:active path,
.header-cart:active svg {
	fill: #ffffff;
	fill-opacity: 0.3;
}

.header-bookmarks svg {
	margin-right: 13px;
}

.header-cart svg {
	margin-right: 17px;
}

.header-cart-full {
	background-color: #ee3643;
}

.header-cart-full:hover,
.header-cart-full:focus {
	background-color: #ca2c37;
}

.header-cart-full:active {
	background-color: #ba2732;
}

.header-order {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	width: 150px;
	justify-content: center;
	align-items: center;	
	min-height: 42px;
	background-color: #63a63e;
}

.header-order:hover,
.header-order:focus {
	background-color: #5fbb2d;
}

.header-order:active {
	color: #a8c29a;
	background-color: #518534;
}

/* Шапка главной - центр */

.header-middle-wrapper {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 158px;
	padding: 0;
	margin: 0 auto;
}

.header-middle {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 960px;
	margin: 0;
	padding: 0 10px;
	padding-left: 63px;
}

.page-title,
.header-text {
	width: 192px;
	margin-right: 80px;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	line-height: 23px;
	color: #ee3643;
}

.header-contacts {
	width: 264px;
	margin-top: 4px;
	margin-bottom: 0px;
	margin-right: 66px;
	text-align: center;
}

.header-contacts p:first-child {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	margin-bottom: 10px;
	min-height: 40px;
	outline: 3px solid #ffffff;
}

.header-contacts p:last-child {
	margin-top: 0px;
	color: #32425c;
}

.header-tel {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
}

.header-tel::before {
	display: block;
	content: "";
	width: 19px;
	height: 19px;
	margin-left: -44px;
	margin-right: 41px;
	background-image: url("../img/phone.svg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.header-address {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.user-navigation {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	font-size: 21px;
	line-height: 21px;
	list-style: none;
}

.user-navigation a {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: #000000;
}

.user-navigation a:hover,
.user-navigation a:focus {
	color: #ee3643;
}

.user-navigation a:active {
	color: #c5c5c5;
}

.user-navigation-guest {
	margin-top: 0px;
	margin-bottom: 26px;
}

.user-login {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	width: 121px;
	justify-content: center;
	align-items: stretch;
	min-height: 45px;
	margin-right: 10px;
	text-align: center;
	background-color: #ffffff;
}

.user-login svg {
	margin-left: -13px;
	margin-right: 14px;
}

.user-login polygon,
.user-login path {
	fill: #c5c5c5;
}

.user-login:hover polygon,
.user-login:hover path,
.user-link:focus polygon,
.user-link:focus path {
	fill: #32425c;
}

.user-link:active polygon,
.user-link:active path {
	fill: #c5c5c5;
}

.user-register {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	width: 150px;
	justify-content: center;
	align-items: stretch;	
	min-height: 45px;
	text-align: center;
	background-color: #ffffff;
}

/* Шапка главной - низ */

.main-navigation {
	display: flex;
	flex-direction: column;
	width: 960px;
	margin: 0 auto;
}

.main-navigation li:hover,
.main-navigation a:focus {
	background-color: #293449;
}

.main-navigation a:active,
.main-navigation li:active {
	color: #7f858f;
	background-color: #1d2739;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	min-height: 60px;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 10px;
	padding: 0;
	line-height: 17px;
	list-style-type: none;
	background-color: #32425c;
}

.site-navigation li {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	min-height: 60px;
	margin: 0 auto;
	padding: 0;
}

.site-navigation a {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding: 19px 24px;
}

.site-navigation li:first-of-type {
	margin-left: 28px;
}

.site-navigation li:last-of-type {
	margin-right: 28px;
}

/* Шапка каталога */

.entered-header .user-navigation {
	width: 300px;
}

.entered-header .header-contacts {
	margin-right: 51px;
}

.user-list {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.user-list:first-child {
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 10px;
	min-height: 45px;
	background-color: #ffffff;
}

.user-list:first-child li {
	flex-grow: 1;
}

.user-list li {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.user-list-bottom {
	padding-left: 18px;
}

.user-name path,
.user-logout path,
.user-logout polygon {
	fill: #c5c5c5;
}

.user-name:hover path,
.user-logout:hover path,
.user-logout:hover polygon,
.user-name:focus path,
.user-logout:focus path,
.user-logout:focus polygon {
	fill: #32425c;
}

.user-text {
	max-width: 200px;
	margin-left: 35px;
	margin-right: 35px;
}

.user-link:active path,
.user-link:active polygon {
	fill: #c5c5c5;
}

.user-name {
	position: relative;
	padding: 0;
}

.user-name svg {
	position: absolute;
	top: 28%;
	left: 13px;
}

.user-logout {
	position: relative;
}

.user-logout svg {
	position: absolute;
	top: 50%;
	margin-top: -9px;
	right: 10px;
}

.user-orders,
.user-profile {
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
}

.user-orders {
	margin-right: 15px;
}

.user-dot {
	margin-right: 12px;
}

.user-orders a,
.user-profile a,
.user-dot {
	color: #32425c;
}

/* Подвал */

.main-footer {
	box-sizing: border-box;
	min-height: 300px;
	font-size: 18px;
}

/* Подвал - самый верх */

.footer-top-wrapper {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	min-height: 193px;
	margin: 0 auto;
	background-color: #32425c;
}

.footer-top {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 960px;
	min-height: 193px;
	padding: 0 10px;
	padding-bottom: 46px;
	line-height: 24px;
	color: #f3f7f9;
}

.top-upper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 25px;
}

.top-upper a {
	align-self: flex-start;
}

.main-footer .main-logo {
	height: 62px;
	padding: 18px 42px 23px 42px;
}

.footer-navigation,
.social-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	list-style-type: none;
}

.footer-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-self: flex-end;
	margin: 0;
	margin-bottom: 12px;
}

.footer-navigation li:not(:last-child) {
	margin-right: 61px;
}

.footer-navigation a:hover,
.footer-category a:hover,
.footer-email a:hover,
.footer-author a:hover,
.footer-navigation a:focus,
.footer-category a:focus,
.footer-email a:focus,
.footer-author a:focus {
	text-decoration: underline;
}

.footer-navigation a:active {
	text-decoration: none;
	color: #8b96a4;
}

/* Подвал - ниже */

.top-lower {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0;
}

.footer-contacts {
	margin: 0;
	margin-right: 23px;
	color: #f1f5f7;
}

.footer-category {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.footer-category li:not(:last-child) {
	margin-right: 61px;
}

.footer-category a {
	color: #d6b479;
}

.footer-category a:active {
	text-decoration: none;
	color: #998a6e;
}

/* Подвал - самый низ */

.footer-bottom-wrapper {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 107px;
	margin: 0 auto;
	background-color: #293449;
}

.footer-bottom {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 960px;
	padding: 0 10px;
	padding-top: 35px;
	padding-bottom: 31px;
	font-size: 16px;
	line-height: 18px;
	background-color: #293449;
}

.footer-copyright {
	margin: 0px;
	margin-right: 160px;
}

.social-list {
	margin: 0px;
	margin-right: 120px;	
}

.social-list li:not(:last-child) {
	margin-right: 5px;
}

.social-button {
	display: flex;
	justify-content: center;
	align-items: stretch;
	width: 41px;
	height: 41px;
	border-radius: 50%;
	background-color: #212a3a;
}

.social-button > a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.social-button:hover,
.social-button:focus {
	background-color: #ee3643;
}

.footer-email {
	margin: 0px;
	margin-right: 53px;
}

.footer-author {
	margin: 0px;
}

.footer-email a,
.footer-author a {
	color: #ffd180;
}

.footer-email a:active,
.footer-author a:active {
	text-decoration: none;
	color: #ee3643;
}

/* Контент главной */

.main-container {
	color: #000000;
	background-color: #ffffff;
}

.main-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0 auto;
}

.company-wrapper {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	width: 960px;
	min-height: 536px;
	padding: 0 10px;
	padding-top: 82px;
	padding-bottom: 60px;
}

/* Контент - сервисы */

.services-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
	padding-top: 68px;
	padding-bottom: 98px;
	background-color: #f4f8f9;
}

.services {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 960px;
	padding: 0 10px;
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.services .title {
	margin: 0;
	margin-bottom: 33px;
	font-family: 'Cuprum', 'Tahoma', sans-serif;
}

.services-info {
	width: 400px;
	margin: 0;
	margin-bottom: 71px;
}

.services-inner {
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.services-inner::after {
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	display: block;
	width: 468px;
	height: 261px;
	background-image: url("../img/truck.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.services-list {
	position: relative;
	margin: 0;
	margin-right: 80px;
	padding: 0;
	font-family: 'Cuprum', 'Tahoma', sans-serif;
	font-size: 21px;
	font-weight: bold;
	line-height: 30px;
	list-style: none;
}

.services-list::after {
	position: absolute;
	top: -34px;
	right: -2px;
	content: "";
	display: block;
	width: 15px;
	height: 255px;
	background-image: url("../img/line.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.services-item {
	box-sizing: border-box;
	padding: 15px 23px;
	width: 240px;
	min-height: 59px;
	background-color: #32425c;
	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;
}

.services-item-current {
	background-color: #ffffff;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

.toggle-title {
	margin: 0;
	margin-bottom: 29px;
	font-family: 'Cuprum', 'Tahoma', sans-serif;
	font-size: 36px;
	font-weight: normal;
	line-height: 36px;	
	text-transform: uppercase;
	color: #32425c;
}

.services-toggle {
	padding: 0;
	border: none;
	color: #ffffff;
	background-color: transparent;
}

.services-item-current .services-toggle {
	color: #32425c;
}

.toggle-text {
	margin: 0;
	width: 275px;
}

/* Контент - о компании */

.company-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 570px;
}

.title {
	margin: 0;
	margin-bottom: 25px;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	text-transform: uppercase;
}

.info-text,
.contacts-text {
	margin: 0;
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.info-text {
	margin-bottom: 24px;
}

.info-text:last-of-type {
	margin-bottom: 22.5px;
}

.info-list {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	margin-bottom: 36px;
	padding-left: 36px;
	font-size: 18px;
	line-height: 20px;
	list-style-type: none;
}

.info-list li:not(:last-of-type) {
	margin-bottom: 22px;
}

.info-list li::before {
	position: absolute;
	content: "";
	left: 0;
	width: 25px;
	height: 2px;
	margin-top: 9px;
	background-color: #ee3643;
}

.info-more {
	margin-bottom: 24px;
}

/* Контент - контакты */

.company-contacts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
}

.contacts-text {
	width: 180px;
	margin-bottom: 30.5px;
}

.map-thumbnail {
	margin-bottom: 40px;
}

.contacts-message {
	width: 100%;
	margin-bottom: 24px;
}

/* Контент каталога */

.main-wrap-catalog {
	padding-top: 0;
	padding-bottom: 0;
}

.catalog-wrap {
	display: flex;
	flex-wrap: wrap;
}

/* Контент каталога - хлебные крошки */

.breadcrumbs-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 59px;
	margin: 0 auto;
}

.breadcrumbs {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 940px;
	margin: 0px;
	padding: 0px;
	padding-left: 54px;
}

.breadcrumbs li {
	position: relative;
}

.breadcrumbs-branch a::before {
	position: absolute;
	content: "";
	top: calc(50% - 7px);
	left: -22px;
	width: 8px;
	height: 12px;
	background-image: url("../img/arrow.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.breadcrumbs-home a::after {
	position: absolute;
	content: "";
	top: calc(50% - 7px);
	left: -54px;
	width: 14px;
	height: 12px;
	background-image: url("../img/home.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.breadcrumbs li:not(:first-child) {
	margin-right: 40px;
}

.breadcrumbs,
.breadcrumbs a {
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	list-style-type: none;
	color: #000000;
}

.main-title-wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 960px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.main-title-wrapper > .page-title {
	display: block;
	width: 100%;
	padding-left: 30px;
	padding-top: 32px;
	padding-bottom: 34px;
	margin: 0 10px;
	font-size: 30px;
	font-style: normal;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
	background-color: #f2f6f8;
}

/* Контент каталога - фильтры */

.filters {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-start;
	width: 220px;
	margin-right: 20px;
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-weight: bold;
}

.catalog-wrap .title {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 13px;
	padding-left: 19px;
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
	background-color: #f7f3ec;
}

.filters-form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding-top: 23px;
}

.filters-form div:not(:first-of-type):not(:last-of-type) {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 23px;
	border-top: 1px solid #e5e5e5;
}

.filters-form > div:last-of-type {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;	
	margin-bottom: 75px;
	border-top: 1px solid #e5e5e5;
}

.filters-form p {
	margin: 0;
	margin-bottom: 13px;
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 17px;
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;
}

.range-slider,
.range input {
	border-radius: 3px;
	background-color: #f7f3ec;
}

.range {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.range-slider {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	min-height: 80px;
	margin-bottom: 9px;
	border: none;
}

.range-slider::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: "";
	width: 136px;
	height: 2px;
	margin: auto;
	background-color: #00ca74;
}

.range-slider::after {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 9%;
	content: "";
	width: 20px;
	height: 2px;
	margin: auto;
	background-color: #d7dcde;
}

.range-slider-min,
.range-slider-max {
	width: 20px;
	height: 22px;
	border-radius: 50%;
	background-color: #ffffff;
}

.range-slider-min:hover,
.range-slider-max:hover {
	cursor: pointer;
}

.range-slider-min {
	position: absolute;
	top: 36%;
	left: 9%;
}

.range-slider-max {
	position: absolute;
	top: 36%;
	left: 73%;
}

.range-slider-min::before,
.range-slider-max::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: "";
	width: 4px;
	height: 4px;
	margin: auto;
	border-radius: 3px;
	background-color: #b4b4b4;
}

.range-slider-min:hover::before,
.range-slider-max:hover::before,
.range-slider-min:focus::before,
.range-slider-max:focus::before {
	background-color: #000000;
}

.range-number {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 11px;
}

.range input {
	box-sizing: border-box;
	width: 95px;
	min-height: 38px;
	border: none;
	text-align: center;
}

.filter-list {
	margin: 0;
	padding: 0;	
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	list-style-type: none;
}

.filter-list input {
	position: absolute;
	left: -35px;
	top: -2px;
	z-index: 2;
	width: 23px;
	height: 23px;
	border: none;
	opacity: 0;
}

.filter-list .filter-mark {
	position: absolute;
	left: -35px;
	top: -2px;
	z-index: 1;
	width: 23px;
	height: 23px;
	border: none;
	fill: #c5c5c5;
}

.filter-list .filter-mark-current {
	visibility: hidden;
}

input:checked + .filter-mark {
	visibility: hidden;
}

input:checked ~ .filter-mark-current {
	visibility: visible;
}

.filter-option {
	position: relative;
	margin-left: 35px;
	margin-bottom: 17px;
}

.filter-option:last-of-type {
	margin-bottom: 0px;	
}

.filter-apply {
	box-sizing: border-box;
	width: 140px;
	min-height: 38px;
	margin-left: 10px;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #ffffff;
}

/* Контент каталога - сортировка */

.sort {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	min-height: 38px;
	margin-bottom: 20px;
	padding-top: 11px;
	background-color: #f7f3ec;
}

.sort .title {
	margin: 0;
	margin-right: 140px;
	padding: 0;
	padding-left: 19px;
	background-color: transparent;
}

.sort-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sort-price {
	margin-right: 71px;
}

.sort-type {
	margin-right: 66px;
}

.sort-func {
	margin-right: 46px;
}

.sort-asc,
.sort-desc {
	width: 11px;
	height: 10px;
	margin-bottom: 8px;
}

.sort-asc {
	margin-right: 21px;
}

.sort-asc polygon {
	fill: #c5c5c5;
}

.sort-desc polyline {
	fill: #c5c5c5;
}

.sort-asc:hover polygon,
.sort-desc:hover polyline {
	fill: #231f20;
}

.sort-asc:active polygon,
.sort-desc:active polyline,
.sort-link:focus polygon,
.sort-link:focus polyline {
	fill: #ee3643;
}

.sort-item a {
	display: flex;
	flex-direction: column;
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
}

.sort-item:hover a {
	border-bottom: 1px solid #ee3643;
	color: #000000;
}

.sort-item:active a,
.sort-item a:focus {
	color: #ee3643;
	border: none;
}

.sort-item svg {
	width: auto;
}

.sort-item:hover svg,
.sort-item:focus svg,
.sort-item:active svg {
	display: none;
}

.sort-item line {
	stroke: #ee3643;
	stroke-width: 2px;
	stroke-dasharray: 1;
}

/* Контент каталога - каталог */

.catalog {
	margin-bottom: 52px;
}

.catalog-inner {
	flex-basis: 700px;
}

.catalog-list {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: auto auto auto;
	grid-gap: 20px 20px;
	margin: 0;
	padding: 0px;
	list-style-type: none;
}

.catalog-item {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 220px;
	min-height: 318px;
	border: 1px solid #e5e5e5;
	text-align: center;
}

.catalog-item:hover,
.catalog-item:focus {
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}

.catalog-item:hover .item-image,
.catalog-item:focus .item-image {
	display: none;
}

.catalog-item:hover .item-purchase,
.catalog-item:hover .item-remember,
.catalog-item:focus .item-purchase,
.catalog-item:focus .item-remember {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}

.catalog-item div  {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 218px;
	height: 170px;
	margin-bottom: 12px;
}

.new-item div::after {
	position: absolute;
	content: "";
	top: 0;
	left: calc(100% - 50px);	
	width: 50px;
	height: 50px;
	background-image: url("../img/new-flag.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.item-title {
	width: 160px;
	margin: 0;
	margin-bottom: 17px;
	margin-bottom: auto;
	font-family: 'PT Sans', 'Tahoma', sans-serif;
}

.item-title a {
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	color: #000000;
}

.item-discount {
	width: 141px;
	margin: 0;
	margin-bottom: 12px;
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 17px;
	font-weight: bold;
	line-height: 18px;
	text-decoration: line-through;
	color: #999999;
}

.item-price {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-basis: 38px;
	align-items: stretch;
	width: 134px;
	margin: 0;
	margin-bottom: 20px;
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-weight: bold;
	background-color: #ee3643;
}

.item-price a {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;	
	width: 100%;
	color: #ffffff;
}

.item-price::after {
	position: absolute;
	content: "";
	top: 0;
	left: calc(100% - 9.5px);	
	width: 0;
	height: 0;
	border: 19px solid #ffffff;
	border-left: 19px solid #ee3643;
}

.item-purchase,
.item-remember {
	box-sizing: border-box;
	display: none;
	width: 135px;
	min-height: 35px;
	border-radius: 3px;
	background-color: #63a63e;
	box-shadow: 0 3px 0 0 #367315;
}

.item-purchase:hover,
.item-purchase:focus {
	background-color: #5fbb2d;
}

.item-purchase:active {
	background-color: #518534;
	box-shadow: 0 3px 0 0 #518534;
}

.item-purchase a,
.item-remember a {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;	
	width: 100%;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;
}

.item-purchase span {
	margin-right: -5px;
	margin-top: 11px;
	margin-bottom: 10px;
}

.item-purchase svg {
	position: absolute;
	left: 14px;
	fill: #ffffff;
	fill-opacity: 0.3;
}

.item-purchase:hover svg,
.item-purchase:focus svg {
	fill-opacity: 1;
}

.item-remember {
	margin-top: -3px;
	border: 3px solid #63a63e;
	background-color: #ffffff;
	box-shadow: none;
}

.item-remember a {
	color: #32425c;
}

.item-remember:hover,
.item-remember:focus {
	border: 3px solid #32425c;
}

.item-remember:active {
	border: 3px solid #c1c6ce;
	color: #c1c6ce;
}

/* Контент каталога - пагинация */

.pagination-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-bottom: 60px;
	padding: 0;
	list-style: none;
}

.pagination-item {
	position: relative;
	width: 36px;
	height: 36px;
	margin-right: 10px;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	background-color: #ffffff;
}

.pagination-item:last-of-type {
	width: 138px;
}

.pagination-item:hover {
	border: 1px solid #bdc6ca;
}

.pagination-item:active,
.pagination-item:focus {
	border: 1px solid #ee3643;
}

.pagination-link {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.pagination-link span {
	color: #000000;
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

/* Контент каталога - текст */

.catalog-text {
	padding-top: 68px;
	padding-bottom: 68px;
	width: 100%;
	font-family: 'Cuprum', 'Tahoma', sans-serif;
	background-color: #f2f6f8;
}

.catalog-text-wrapper {
	box-sizing: border-box;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

.catalog-text-title {
	margin: 0;
	margin-bottom: 34px;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.catalog-text p {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 13px;
	line-height: 24px;
}

/* Попапы главной */

.modal-map {
	position: fixed;
	top: 50%;
	left: 50%;
	display: none;
	margin-top: -223px;
	margin-left: -470px;
	box-shadow: 0 0 10px 3px rgba(47, 42, 43, 0.5);
}

.map-full {
	margin: 0;
	padding: 0;
}

.modal-message {
	position: fixed;
	top: 50%;
	left: 50%;
	box-sizing: border-box;
	display: none;
	justify-content: center;
	align-items: stretch;
	width: 620px;	
	min-height: 423px;
	margin-top: -211px;
	margin-bottom: 15px;
	margin-left: -310px;
	font-size: 18px;
	line-height: 18px;
	background-color: #ffffff;
	box-shadow: 0 -7px 0 0 #ff5357;
}

.modal-message input,
.modal-message textarea  {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 14px;
	padding-right: 14px;
	border: 2px solid #dee3e4;
	border-radius: 3px;
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 13px;
	color: #000000;
}

.modal-message input::placeholder,
.modal-message textarea::placeholder {
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #a9a9a9;
}

.message-form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;
	min-height: 423px;
}

.message-top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 47px;
	margin-bottom: 21px;
}

.message-name,
.message-email {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	flex-grow: 1;
	margin: 0;
}

.message-form label {
	margin-bottom: 13px;
}

.message-name {
	margin-right: 20px;
}

.message-text {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	min-height: 114px;
	margin: 0;
	margin-left: 80px;
	margin-right: 80px;	
	margin-bottom: 37px;
}

.message-text textarea {
	flex-grow: 1;
}

.message-bottom {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	min-height: 112px;
	background-color: #f4f4f4;
}

.message-send {
	width: auto;
	margin-left: 80px;
	margin-right: 80px;
}

/* Попапы каталога */

.modal-cart {
	position: fixed;
	box-sizing: border-box;
	display: none;
	flex-wrap: wrap;
	flex-direction: column;
	width: 620px;
	min-height: 282px;
	font-size: 30px;
	line-height: 30px;
}

.cart-top {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;	
	min-height: 170px;
	background-color: #ffffff;
	box-shadow: 0 -7px 0 0 #ee3643;
}

.cart-top::before {
	position: absolute;
	left: 81px;
	content: "";
	width: 66px;
	height: 66px;
	background-image: url("../img/check.svg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.cart-text {
	margin-right: 126px;
}

.cart-bottom {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 112px;
	background-color: #f1f1f1;
}

.cart-form {
	display: flex;
	flex-wrap: wrap;
}

.cart-continue {
	margin-left: 20px;
	color: #000000;
	background-color: #ffffff;
}

.cart-continue:hover,
.cart-continue:focus {
	color: #ee3643;
	background-color: #ffffff;
}

.cart-continue:active {
	color: #c5c5c5;
}

/* Дополнительные классы для JavaScript и анимации */

@keyframes emersion {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}

.modal-show {
	display: block;
	animation-name: emersion;
	animation-duration: 0.2s;
	animation-timing-function: linear;
}

.modal-error {
	animation-name: shake;
	animation-duration: 0.6s;
}