/* Общее */

body {
	background-color: #ffffff;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: #ffffff;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0px;
	border: 0px;
	overflow: hidden;
	clip-path: inset(100%);
}

.cross {
	position: absolute;
	top: 9px;
	right: 9px;
	width: 21px;
	height: 21px;
	border: none;
	background-color: transparent;
	background-image: url("../img/cross.svg");
}

.red-button {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 220px;
	min-height: 38px;
	border: none;
	border-radius: 3px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #ee3643;
}

.red-button:hover,
.red-button:focus {
	background-color: #ca2c37;
}

.red-button:active {
	background-color: #ba2732;
}

.main-header,
.main-footer,
.main-container {
	width: auto;
	font-family: Cuprum, Tahoma, sans-serif;
	color: #ffffff;
}

/* Шапка главной */

.main-header {
	font-size: 17px;
	background-color: #f3f7f9;
}

/* Шапка главной - верх */

.header-top-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: auto;
	margin: 0 auto;
	background-color: #293449;
}

.header-top {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	flex-basis: 42px;
	justify-content: center;
	align-items: flex-start;
	width: 940px;
	line-height: 18px;
}

.main-logo {
	box-sizing: border-box;
	width: 220px;
	height: 42px;	
	padding: 10px 55px 13px 55px;
	background-color: #ee3643;
	box-shadow: 0px 5px 0 0 #b52933;
}

.main-logo:hover,
a:focus .main-logo	{
	background-color: #ca2c37;
}

a:active .main-logo {
	background-color: #ba2732;
}

.search-form {
	width: 230px;
	margin-left: 10px;
}

.search-item {
	position: relative;
	width: 100%;
	margin: 0px;
}

.search {
	box-sizing: border-box;
	width: 100%;
	min-height: 42px;
	padding: 0px 34px;
	border: 0px;
	color: #ffffff;
	background-color: #293449;
}

.search:hover,
.header-bookmarks:hover,
.header-cart:hover,
.search:focus,
.header-bookmarks:focus,
.header-cart:focus {
	background-color: #212a3a;
}

.search:focus	{
	color: #000000;
	background-color: #ffffff;
}

.search::placeholder {
	color: #ffffff;
}

.search-icon {
	position: absolute;
	top: 12px;
	left: 7px;
}

.search-icon path {
	fill: #c5c5c5;
	fill-opacity: 0.3;	
}

.search:hover + .search-icon path {
	fill: #ffffff;
	fill-opacity: 1;
}

.search:focus + .search-icon path {
	fill: #ee3643;
	fill-opacity: 1;
}

.header-bookmarks,
.header-cart {
	display: flex;
	width: 140px;
	align-items: center;
	margin-left: 20px;
	min-height: 42px;
}

.header-bookmarks:active,
.header-cart:active {
	color: #8c9095;
	background-color: #161d29;
}

.header-bookmarks path,
.header-cart svg {
	fill: #ffffff;
	fill-opacity: 0.3;
}

.header-bookmarks:hover path,
.header-cart:hover svg,
.header-bookmarks:focus path,
.header-cart:focus svg {
	fill: #ffffff;
	fill-opacity: 1;
}

.header-bookmarks:active path,
.header-cart:active svg {
	fill: #ffffff;
	fill-opacity: 0.3;
}

.header-bookmarks svg {
	margin-left: 27px;
	margin-right: 13px;
}

.header-cart svg {
	margin-left: 18px;
	margin-right: 17px;
}

.header-order {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	width: 150px;
	justify-content: center;
	align-items: center;	
	min-height: 42px;
	margin-left: 10px;
	background-color: #63a63e;
}

.header-order:hover,
.header-order:focus {
	background-color: #5fbb2d;
}

.header-order:active {
	color: #a8c29a;
	background-color: #518534;
}

/* Шапка главной - центр */

.header-middle-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: auto;
	margin: 0 auto;
}

.header-middle {
	box-sizing: border-box;
	display: flex;
	flex-basis: 153px;
	align-items: center;
	width: 940px;
}

.page-title,
.header-text {
	width: 200px;
	margin-left: 63px;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	line-height: 23px;
	color: #ee3643;
}

.header-contacts {
	width: 259px;
	margin-left: 71px;
	text-align: center;
}

.header-contacts p:first-child {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	margin-bottom: 10px;
	min-height: 40px;
	outline: 3px solid #ffffff;
}

.header-contacts p:last-child {
	margin-top: 0px;
}

.header-tel {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
}

.header-tel::before {
	display: block;
	content: "";
	width: 19px;
	height: 19px;
	margin-left: -44px;
	margin-right: 41px;
	background-image: url("../img/phone.svg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.header-address {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.user-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	width: 300px;
	padding: 0px;
	margin-left: 72px;
	font-size: 21px;
	line-height: 21px;
	list-style: none;
}

.user-navigation a {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: #000000;
}

.user-navigation a:hover,
.user-navigation a:focus {
	color: #ee3643;
}

.user-navigation a:active {
	color: #c5c5c5;
}

.user-login {
	display: flex;
	flex-wrap: wrap;
	width: 120px;
	justify-content: center;
	align-items: stretch;
	min-height: 45px;
	margin-right: 10px;
	text-align: center;
	background-color: #ffffff;
}

.user-login svg {
	margin-left: -13px;
	margin-right: 14px;
}

.user-login polygon,
.user-login path {
	fill: #c5c5c5;
}

.user-login:hover polygon,
.user-login:hover path,
.user-link:focus polygon,
.user-link:focus path {
	fill: #32425c;
}

.user-link:active polygon,
.user-link:active path {
	fill: #c5c5c5;
}

.user-register {
	display: flex;
	flex-wrap: wrap;
	width: 150px;
	justify-content: center;
	align-items: stretch;	
	min-height: 45px;
	text-align: center;
	background-color: #ffffff;
}

/* Шапка главной - низ */

.main-navigation {
	flex-basis: 60px;
	width: auto;
	background-color: #f3f7f9;
}

.main-navigation li:hover,
.main-navigation a:focus {
	background-color: #293449;
}

.main-navigation a:active,
.main-navigation li:active {
	color: #7f858f;
	background-color: #1d2739;
}

.header-bottom-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: auto;
}

.site-navigation {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 940px;
	margin: 0px;
	margin-bottom: 60px;
	padding-left: 52px;
	padding-right: 55px;
	line-height: 17px;
	list-style-type: none;
	background-color: #32425c;
}

.site-navigation li {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	min-height: 60px;
}

.site-navigation a {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0px 15px;
}

/* Шапка каталога */

.user-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.user-list:first-child {
	width: 100%;
	margin-bottom: 10px;
	min-height: 45px;
	background-color: #ffffff;
}

.user-list li {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	justify-content: center;
	align-items: stretch;
}

.user-name path,
.user-logout path,
.user-logout polygon {
	fill: #c5c5c5;
}

.user-name:hover path,
.user-logout:hover path,
.user-logout:hover polygon {
	fill: #32425c;
}

.user-link:active path,
.user-link:active polygon {
	fill: #c5c5c5;
}

.user-name {
	position: relative;
	width: 240px;
}

.user-name span {
	margin-right: 9px;
}

.user-name svg {
	position: absolute;
	left: 13px;
}

.user-logout {
	position: relative;
	width: 50px;
}

.user-logout svg {
	position: absolute;
	right: 10px;
}

.user-orders,
.user-profile {
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
}

.user-orders a,
.user-profile a {
	color: #32425c;
}

/* Подвал */

.main-footer {
	font-size: 18px;
}

/* Подвал - самый верх */

.footer-top {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 940px;
	padding-bottom: 51px;
	line-height: 24px;
	color: #f3f7f9;
}

.footer-top-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: auto;
	margin: 0 auto;
	background-color: #32425c;
}

.top-upper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.top-upper a {
	align-self: flex-start;
}

.main-footer .main-logo {
	height: 62px;
	padding: 18px 42px 23px 42px;
}

.footer-navigation,
.social-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
	list-style-type: none;
}

.footer-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-self: flex-end;
	margin: 0px;
	margin-bottom: 12px;
}

.footer-navigation li:not(:last-child) {
	margin-right: 61px;
}

.footer-navigation a:hover,
.footer-category a:hover,
.footer-email a:hover,
.footer-author a:hover,
.footer-navigation a:focus,
.footer-category a:focus,
.footer-email a:focus,
.footer-author a:focus {
	text-decoration: underline;
}

.footer-navigation a:active {
	text-decoration: none;
	color: #8b96a4;
}

/* Подвал - ниже */

.top-lower {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0px;
}

.footer-contacts {
	margin: 0px;
	margin-top: 31px;
	color: #f1f5f7;
}

.footer-category {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0px;
	margin-left: 23px;
	margin-top: 31px;
	padding: 0px;
	list-style-type: none;
}

.footer-category li:not(:last-child) {
	margin-right: 61px;
}

.footer-category a {
	color: #d6b479;
}

.footer-category a:active {
	text-decoration: none;
	color: #998a6e;
}

/* Подвал - самый низ */

.footer-bottom-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: auto;
	margin: 0 auto;
	background-color: #293449;
}

.footer-bottom {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 940px;
	padding-top: 39px;
	padding-bottom: 35px;
	font-size: 16px;
	line-height: 18px;
	background-color: #293449;
}

.footer-bottom p,
.footer-bottom ul {
	margin: 0px;
}

.social-list li:not(:last-child) {
	margin-right: 5px;
}

.social-button {
	display: flex;
	justify-content: center;
	align-items: stretch;
	width: 41px;
	height: 41px;
	border-radius: 50%;
	background-color: #212a3a;
}

.social-button > a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.social-button:hover,
.social-button:focus {
	background-color: #ee3643;
}

.footer-email a,
.footer-author a {
	color: #ffd180;
}

.footer-email a:active,
.footer-author a:active {
	text-decoration: none;
	color: #ee3643;
}

.footer-author {
	padding-right: 15px;
}

/* Контент главной */

.main-container {
	color: #000000;
	background-color: #ffffff;
}

.main-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: auto;
	margin: 0 auto;	
}

.main-wrap {
	display: flex;
	flex-basis: 536px;
	justify-content: space-between;
	width: 940px;
}

/* Контент - о компании */

.company-info {
	display: flex;
	flex-direction: column;
	width: 570px;
	justify-content: space-between;
}

.title {
	margin: 0px;
	margin-top: 81px;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	text-transform: uppercase;
}

.info-text,
.contacts-text {
	margin: 0px;
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.info-list {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	margin: 0px;
	padding-left: 36px;
	font-size: 18px;
	line-height: 20px;
	list-style-type: none;
}

.info-list li:not(:last-child) {
	margin-bottom: 24px;
}

.info-list li::before {
	position: absolute;
	content: "";
	left: 0;
	width: 25px;
	height: 2px;
	margin-top: 9px;
	background-color: #ee3643;
}

.info-more,
.contacts-message {
	margin-bottom: 86px;
}

/* Контент - контакты */

.company-contacts {
	display: flex;
	flex-direction: column;	
	width: 330px;
	justify-content: space-between;
}

/* Контент каталога */

.catalog-wrap {
	display: flex;
	flex-wrap: wrap;
	width: 940px;
}

/* Контент каталога - хлебные крошки */

.main-title-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: auto;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #ffffff;
}

.main-title-wrapper > .page-title {
	box-sizing: border-box;
	width: 940px;
	padding-left: 30px;
	padding-top: 32px;
	padding-bottom: 29px;
	margin: 0px;
	font-size: 30px;
	font-style: normal;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
	background-color: #f2f6f8;
}

.breadcrumbs-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: auto;
	margin: 0 auto;		
}

.breadcrumbs {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	flex-basis: 59px;
	align-items: center;
	width: 940px;
	padding-left: 54px;
}

.breadcrumbs li:not(:first-child) {
	margin-left: 40px;
}

.breadcrumbs,
.breadcrumbs a {
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	list-style-type: none;
	color: #000000;
}

/* Контент каталога - фильтры */

.filters {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-start;
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-weight: bold;
}

.filters .title {
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 13px;
	padding-left: 19px;
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
	background-color: #f7f3ec;
}

.filters-form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.filters-form div {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 23px;
	border-top: 1px solid #e5e5e5;
}

.filters-form p {
	margin-top: 0px;
	margin-bottom: 13px;
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 17px;
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;
}

.filter-list {
	margin: 0px;
	padding: 0px;	
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	list-style-type: none;
}

.filter-list input {
	position: absolute;
	left: -35px;
	top: -2px;
	z-index: 2;
	width: 23px;
	height: 23px;
	border: none;
	opacity: 0;
}

.filter-list .filter-mark {
	position: absolute;
	left: -35px;
	top: -2px;
	z-index: 1;
	width: 23px;
	height: 23px;
	border: none;
	fill: #c5c5c5;
}

.filter-list .filter-mark-current {
	visibility: hidden;
}

input:checked + .filter-mark {
	visibility: hidden;
}

input:checked ~ .filter-mark-current {
	visibility: visible;
}

.filter-option {
	position: relative;
	margin-left: 35px;
	margin-bottom: 17px;
}

.filter-apply {
	box-sizing: border-box;
	width: 140px;
	min-height: 38px;
	margin-top: 75px;
	margin-left: 10px;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #ffffff;
}

/* Контент каталога - каталог */

.catalog {
	flex-basis: 700px;
	margin-left: 20px;
}

.catalog-list {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: auto auto auto;
	grid-gap: 20px 20px;
	list-style-type: none;
}

.catalog-item {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 220px;
	min-height: 318px;
	border: 1px solid #e5e5e5;
	text-align: center;
}

.catalog-item:hover .item-image {
	display: none;
}

.catalog-item:hover .item-purchase,
.catalog-item:hover .item-remember {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}

.catalog-item div  {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 218px;
	height: 170px;
}

.new-item div::after {
	position: absolute;
	content: "";
	top: 0;
	left: calc(100% - 50px);	
	width: 50px;
	height: 50px;
	background-image: url("../img/new-flag.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.item-title {
	margin-top: 11px;
	margin-bottom: auto;
}

.item-title a {
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	color: #000000;
}

.item-discount {
	width: 141px;
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 17px;
	font-weight: bold;
	line-height: 18px;
	text-decoration: line-through;
	color: #999999;
}

.item-price {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-basis: 38px;
	align-items: stretch;	
	width: 141px;
	background-color: #ee3643;
}

.item-price a {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;	
	width: 100%;
	color: #ffffff;
}

.item-price::after {
	position: absolute;
	content: "";
	top: 0;
	left: calc(100% - 9.5px);	
	width: 0px;
	height: 0px;
	border: 19px solid #ffffff;
	border-left: 19px solid #ee3643;
}

.item-purchase,
.item-remember {
	box-sizing: border-box;
	display: none;
	width: 135px;
	min-height: 35px;
	border-radius: 3px;
	background-color: #63a63e;
	box-shadow: 0px 3px 0 0 #367315;
}

.item-purchase:hover,
.item-purchase:focus {
	background-color: #5fbb2d;
}

.item-purchase:active {
	background-color: #518534;
	box-shadow: 0 3px 0 0 #518534;
}

.item-purchase a,
.item-remember a {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;	
	width: 100%;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;
}

.item-purchase span {
	margin-right: -5px;
	margin-top: 11px;
	margin-bottom: 10px;
}

.item-purchase svg {
	position: absolute;
	left: 14px;
	fill: #ffffff;
	fill-opacity: 0.3;
}

.item-purchase:hover svg,
.item-purchase:focus svg {
	fill-opacity: 1;
}

.item-remember {
	margin-top: -3px;
	border: 3px solid #63a63e;
	background-color: #ffffff;
	box-shadow: none;
}

.item-remember a {
	color: #32425c;
}

.item-remember:hover,
.item-remember:focus {
	border: 3px solid #32425c;
}

.item-remember:active {
	border: 3px solid #c1c6ce;
	color: #c1c6ce;
}

/* Попапы главной */

.modal-map {
	position: relative;
	margin-left: 10px;
	margin-right: 10px;	
	margin-bottom: 35px;
}

.map-full {
	margin: 0px;
	padding: 0px;
}

.modal-message {
	position: relative;
	display: flex;
	flex-basis: 423px;
	align-items: stretch;
	width: 620px;
	margin-left: 10px;
	margin-right: 10px;	
	margin-bottom: 15px;
	font-size: 18px;
	line-height: 18px;
	box-shadow: 0px -7px 0 0 #ff5357;
}

.modal-message input,
.modal-message textarea  {
	padding-top: 8px;
	padding-bottom: 8px;	
	padding-left: 14px;
	border-color: #dee3e4;
	border-radius: 3px;
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 13px;
	color: #000000;
}

.modal-message input::placeholder,
.modal-message textarea::placeholder {
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #a9a9a9;
}

.message-form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	margin-left: 80px;
	margin-right: 80px;
}

.message-top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 47px;
	margin-bottom: 21px;
}

.message-name,
.message-email {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	flex-grow: 1;
	margin: 0px;
}

.message-form label {
	margin-bottom: 13px;
}

.message-name {
	margin-right: 20px;
}

.message-text {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	flex-grow: 1;
	margin: 0px;
	margin-bottom: 37px;
}

.message-text textarea {
	flex-grow: 1;
}

.message-bottom {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 112px;
	justify-content: center;
	align-items: center;
	background-color: #f4f4f4;
}

.message-send {
	width: 460px;
}

/* Попапы каталога */

.modal-cart {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 620px;
	font-size: 30px;
	line-height: 30px;
}

.cart-top {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;	
	min-height: 170px;
	box-shadow: 0px -7px 0 0 #ee3643;
}

.cart-top::before {
	position: absolute;
	left: 81px;
	content: "";
	width: 66px;
	height: 66px;
	background-image: url("../img/check.svg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.cart-text {
	margin-right: 126px;
}

.cart-bottom {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 112px;
	background-color: #f1f1f1;
}

.cart-form {
	display: flex;
	flex-wrap: wrap;
}

.cart-continue {
	margin-left: 20px;
	color: #000000;
	background-color: #ffffff;
}

.cart-continue:hover,
.cart-continue:focus {
	color: #ee3643;
	background-color: #ffffff;
}

.cart-continue:active {
	color: #c5c5c5;
}